- flash.each do |message_type, message|
  %div{ class: "alert alert-#{message_type == 'notice'? 'success':'danger'} fade show alert-dismissible" }
    = message
    %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'alert', type: 'button' }
